@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  a {
    @apply inline-block;
  }

  a:hover {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-2xl font-bold mb-3;
  }
  h2 {
    @apply text-xl font-semibold mb-3;
  }
  h3 {
    @apply text-lg font-medium mb-2;
  }
  h4 {
    @apply text-base font-normal mb-2;
  }
  h5 {
    @apply text-base font-normal mb-1;
  }
}

.badge {
  @apply rounded-full inline-block align-text-bottom;
  height: 1em;
  width: 1em;
}
